body {
    background-color: white;
    font-size: 12pt;
    font-family: arial;
}

h1 {
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-form input {
    height: 38px;
    padding: 0 10px;
    font-size: 12pt;
}

.search-form button {
    height: 38px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    padding: 10pt;
    margin-left: auto;
    margin-right: auto;
}

table td, table th {
    padding: 5px 10px;
    text-align: left;
}

table th {
    background-color: #b5acae;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}

.view_btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #37a825;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.view_btn:hover {
  background-color: #246b19;
}

.del_btn {
    display: inline-block;
      padding: 10px 20px;
      background-color: #d62f2f;
      color: white;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
}

.del_btn:hover {
  background-color: #912020;
}